@using Classwork.ViewModels
@model PaginatedVM<ProductVM>

<div class="col-lg-9">
    <div class="row g-4 justify-content-center">
        @foreach (var product in Model.Items)
        {
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="rounded position-relative border border-secondary fruite-item d-flex flex-column h-100">
                    <div class="fruite-img">
                        <img src="~/img/products/@product.ImageUrlList.FirstOrDefault()" class="img-fluid w-100 rounded-top" alt="@product.Name">
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@product.CategoryName</div>
                    <div class="p-4 border-top-0 rounded-bottom d-flex flex-column flex-grow-1">
                        <h4 class="text-truncate" title="@product.Name">@product.Name</h4>
                        <p class="flex-grow-1 text-truncate" style="max-height: 3rem; overflow: hidden;">@product.Description</p>
                        <div class="mt-auto d-flex justify-content-between">
                            <p class="text-dark fs-5 fw-bold mb-0">$@product.Price</p>
                            <span class="text-muted text-decoration-line-through ms-2 small">$@((product.Price * 1.2M).ToString("C"))</span>
                        </div>
                    </div>
                    <a href="/Product/@product.Id" class="stretched-link"></a>
                </div>
            </div>
        }


        @* Phân trang *@
        @if (Model.TotalPages > 1)
        {
            <div class="col-12">
                <div class="pagination d-flex justify-content-center mt-5">
                    @if (Model.HasPrevPage)
                    {
                        <a href="?pageNumber=@(Model.PageNumber - 1)" class="rounded">&laquo;</a>
                    }
                    else
                    {
                        <a class="rounded disabled">&laquo;</a>
                    }

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a href="?pageNumber=@i" class="@(i == Model.PageNumber ? "active" : "") rounded">@i</a>
                    }

                    @if (Model.HasNextPage)
                    {
                        <a href="?pageNumber=@(Model.PageNumber + 1)" class="rounded">&raquo;</a>
                    }
                    else
                    {
                        <a class="rounded disabled">&raquo;</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
